name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build: 
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.shell || 'sh' }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: Ubuntu
          os: ubuntu-latest
        - name: macOS
          os: macos-latest
        - name: Windows
          os: windows-latest
          shell: msys2 {0}
    steps:
      # Checkout repository
      - uses: actions/checkout@v2

      # Install elan with nightly toolchain
      - name: Install Elan (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          set -o pipefail
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain leanprover/lean4:nightly -y
          echo "$HOME/.elan/bin" >> $GITHUB_PATH
      
      - name: Install Elan (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain leanprover/lean4:nightly -y
          echo "$HOME/.elan/bin" >> $GITHUB_PATH

      - name: Install MSYS2 (Windows)
        if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@v2
        with:
          path-type: inherit
          install: curl unzip make mingw-w64-x86_64-gcc mingw-w64-x86_64-gmp diffutils
      - name: Install Elan (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          curl -sSL https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh > elan-init.sh
          ./elan-init.sh -y
          cygpath -w "$USERPROFILE/.elan/bin" >> $GITHUB_PATH
          
      # Upload artifact
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: build

      # Build and test
      - name: Build LeanInk
        run: lake build

      - name: Run tests
        run: make -C test run_tests
